.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .logo-container {
    position: relative;
  }
  
  #glassrock {
    width: 762px;
    max-width: 100%; /* Ensure the logo is responsive */
    height: auto; /* Maintain aspect ratio */
    opacity: 0; /* Initially hide the logo */
    animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
  }
  
  .loading-bar {
    position: absolute;
    bottom: -60px;
    left: 20px;
    
    height: 3px; /* Height of the progress bar */
    background-color: #03d838; /* Color of the progress bar */
    transition: width 0.3s ease; /* Smooth transition effect */
    animation: loadingAnimation 8s linear infinite; /* Apply loading animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      opacity: 1; /* Fade in to full opacity */
    }
  }
  
  @keyframes loadingAnimation {
    0% {
      width: 0%; /* Start with 0% width */
    }
    100% {
      width: 100%; /* End with 100% width */
    }
  }
  